@font-face {
    font-family: 'Circular';
    src: url('../../CircularStd-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../../CircularStd-BookItalic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('../../CircularStd-Medium.otf');
    font-weight: 600;
    font-style: normal;
}

body {
	background-color: white;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

.splacer {
	height: 95vh;
	background-image: linear-gradient(-60deg, rgb(73,137,124), rgb(112,198,215));
	position: relative;
	overflow: hidden;
}

.splacer h1 {
	color: white;
	width: 70%;
	top: 30%;
	right: 5%;
	z-index: 5;
	color: white;
	position: absolute;
	border: 6px solid white;
	padding: 2.5rem 2rem;
	font-size: 3.5rem;
	line-height: 1.4em;
	text-align: center;
}

.splacer aside {
	font-family: 'Circular';
	background-color: #fff;
	font-size: 1.8rem;
	line-height: 1.2em;
	padding: 2rem 1rem;
	position: absolute;
	z-index: 6;
	width: 45%;
	top: 57%;
	right: 10%;
	text-align: center;
}

.coverimg {
	top: 9%;
	position: absolute;
	z-index: 3;
}

.marker {
	position: relative;
	font-family: 'Circular';
	font-size: 1rem;
	padding: 1rem;
	font-weight: 600;
	z-index: 4;
	color: white;
	text-align: center;
}

.marker.annotated {
	position: absolute;
	transform-origin: top;
	transform: translate(-50%) rotate(270deg);
	left: 0;
	top: 50%;
	padding: 0.5rem;
	text-transform: uppercase;
}

.marker.down {
	font-family: 'Circular';
	position: absolute;
	width: 100%;
	bottom: 5%;
}

.author {
	font-family: 'Circular';
	position: absolute;
	font-size: 1.1rem;
	line-height: 1.1em;
	color: #fff;
	right: 10%;
	bottom: 20%;
}

.splacer:after {
	content: '';
	box-shadow:  0 0 100vh 200px rgba(0,0,0,1);
	position: absolute;
	width: 100%;
	left: 0;
	top: -100%;
	height: 100%;
	z-index: 2;
}

.paragraph-container {
	width: 100%;
	position: relative;
	font-family: 'Circular';
}

.comment {
	background-image: url('../../assets/comment-02.svg');
	width: 20px;
	height: 20px;
	position: absolute;
	background-repeat: no-repeat;
	left: 3%;
	top: 2.9rem;
}

.annotation-active .paragraph {
	color: gray;
	opacity: 0.5;
}

.paragraph {
	display: block;
	width: 66%;
	padding: 1rem 1rem 1rem 2rem;
	margin: 0;
	margin-left: 6%;
	transition: all 0.7s ease;
	transform-origin: top left;
	z-index: 1;
	position: relative;
}

.paragraph.extra {
	width: 90%;
	padding-top: 2rem;
	padding-bottom: 0;
}

.annotation,
.paragraph p {
	font-size: 1.3rem;
	line-height: 1.5em;
}

.active .paragraph {
	padding-top: 1.4rem;
	transform: scale(0.65);
}

.annotation {
	float: left;
	width: 40%;
	padding: 1rem;
	margin: 0 1rem;
	position: absolute;
	right: 5%;
	top: 2rem;
	transition: all 0.7s ease;
	transform: translate(0, 0) scale(0.5);
	transform-origin: top right;
	background-color: #fff !important;
	z-index: 2;
	color: #09909f;
}

.paragraph p.extra {
	font-size: 1.7rem;
	line-height: 1.3em;
	color: #09909f;
	font-weight: 600;
	margin-bottom: 0;
}

.annotation-active .annotation:not(.active) {
	opacity: 0.5;
}

.annotation.active {
	transform: translate(0, 0) scale(1);
	padding: 1rem;
}

.active .annotation {
	top: 0;
}