html {
	font-size: 16px;

	@media (max-width: 350px) {
		font-size: 10px;
	}
}

body {
	background-color: black;
	font-size: 16px;
	font-family: Circular, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

/* ====== media ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}