.blueimp-gallery > .title {
	top: auto;
	bottom: 2rem;
	max-width: 80%;
	left: 0;
	background: rgba(255,255,255,.7);
	color: #000;
	text-shadow: none !important;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.2rem;
	padding: 5px 10px;
}

.blueimp-gallery > .indicator {
	top: 15px;
	bottom: auto;
}