@font-face {
    font-family: 'Circular';
    src: url('../../assets/fonts/CircularStdBook.eot');
    src: url('../../assets/fonts/CircularStdBook.eot') format('embedded-opentype'),
         url('../../assets/fonts/CircularStdBook.woff2') format('woff2'),
         url('../../assets/fonts/CircularStdBook.woff') format('woff'),
         url('../../assets/fonts/CircularStdBook.ttf') format('truetype'),
         url('../../assets/fonts/CircularStdBook.svg#CircularStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../../assets/fonts/CircularStdBookItalic.eot');
    src: url('../../assets/fonts/CircularStdBookItalic.eot') format('embedded-opentype'),
         url('../../assets/fonts/CircularStdBookItalic.woff2') format('woff2'),
         url('../../assets/fonts/CircularStdBookItalic.woff') format('woff'),
         url('../../assets/fonts/CircularStdBookItalic.ttf') format('truetype'),
         url('../../assets/fonts/CircularStdBookItalic.svg#CircularStdBookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('../../assets/fonts/CircularStdMedium.eot');
    src: url('../../assets/fonts/CircularStdMedium.eot') format('embedded-opentype'),
         url('../../assets/fonts/CircularStdMedium.woff2') format('woff2'),
         url('../../assets/fonts/CircularStdMedium.woff') format('woff'),
         url('../../assets/fonts/CircularStdMedium.ttf') format('truetype'),
         url('../../assets/fonts/CircularStdMedium.svg#CircularStdMedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'iconfont';
    src:url('../../assets/fonts/iconfont.eot?-z2of6j');
    src:url('../../assets/fonts/iconfont.eot?#iefix-z2of6j') format('embedded-opentype'),
        url('../../assets/fonts/iconfont.ttf?-z2of6j') format('truetype'),
        url('../../assets/fonts/iconfont.woff?-z2of6j') format('woff'),
        url('../../assets/fonts/iconfont.svg?-z2of6j#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-mail:before {
    content: "\f0e0";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-vimeo:before {
    content: "\ea9c";
}
