
.splace-orientation--portrait > .splace-landscape,
.splace-orientation--portrait > .splace-landscape-next {
	display: none;
}
.splace-orientation--landscape > .splace-portrait,
.splace-orientation--landscape > .splace-portrait-next {
	display: none;
}

.splace-portrait-next,
.splace-landscape-next {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	z-index: 50;
	text-align: justify;

	&.left {
		
		left: -100%;
		&.move-in {
			transition: left 1.5s ease;
			left: 0%;
		}
	}
	&.right {
		right: -100%;
		&.move-in {
			transition: right 1.5s ease;
			right: 0%;
		}
	}

	&:after {
		content: 'Laden...';
		font-size: 36px;
		display: block;
		position: absolute;
		width: 100vw;
		text-align: center;
		top: 50vh;
		left: 0;
	}

	.splace-article-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 9;
	}
}

.desktop {
	width: 768px;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;

	&:before {
		content: '';
		width: 100vw;
		left: -100vw;
		height: 100%;
		display: block;
		background: #eee;
		position: absolute;
		z-index: 400;
		top: 0;
	}
	&:after {
		content: '';
		width: 100vw;
		right: -100vw;
		height: 100%;
		display: block;
		background: #eee;
		position: absolute;
		z-index: 400;
		top: 0;
	}

}