.splace-portrait {
	min-height: 100vh;
	width: 100%;
	position: relative;
	transition: left .5s ease, right .5s ease;
	padding-bottom: 40px;

	&.left {
		left: 0vw;
		&.move-out {
			left: 100%;
		}
	}
	&.right {
		right: 0vw;

		&.move-out {
			right: 100%;
		}
	}
}

.splace-article-header {
	height: 99vh;
	height: calc(100vh - 40px);
	position: relative;

	&:after {
		content: '';
		box-shadow:  0 0 400px 100px rgba(0,0,0,1);
		position: absolute;
		width: 100%;
		left: 0;
		top: -500px;
		height: 500px;
		z-index: 2;
	}

	> h1 {
		margin: 0;
		padding: 0;
		color: #fff;
		position: absolute;
		z-index: 100;
		font-size: 64px;
		top: 40%;
		text-align: center;
		width: 100%;
	}
}

.splace-article-header__marker {
	position: relative;
	font-family: 'Circular';
	font-size: 1rem;
	padding: 1rem;
	font-weight: 600;
	z-index: 4;
	color: white;
	text-align: center;

	&.annotated {
		position: absolute;
		transform-origin: top;
		transform: translate(-50%) rotate(270deg);
		left: 0;
		top: 50%;
		padding: 0.5rem;
		text-transform: uppercase;
	}

	&.down {
		font-family: 'Circular';
		position: absolute;
		width: 100%;
		bottom: 5%;
	}
}

.splace-article-header__author {
	font-family: 'Circular';
	position: absolute;
	font-size: 1.1rem;
	line-height: 1.1em;
	color: #fff;
	right: 10%;
	bottom: 20%;
}

.splace-paragraph {
	width: 100%;
	position: relative;
	font-family: 'Circular';
}

.splace-paragraph:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.splace-paragraph { display: inline-block; }
/* start commented backslash hack \*/
* html .splace-paragraph { height: 1%; }
.splace-paragraph { display: block; }
/* close commented backslash hack */

.splace-paragraph__text {
	display: block;
	width: 66%;
	padding: 1rem 1rem 1rem .5rem;
	margin: 0;
	margin-left: 6%;
	transition: all 0.7s ease;
	transform-origin: top left;
	z-index: 1;
	position: relative;
	float: left;
	font-size: 1.1rem;
}

.splace-paragraph__annotation {
	float: left;
	width: 40%;
	padding: 1rem;
	margin: 0 1rem;
	position: absolute;
	right: 5%;
	top: 0rem;
	transition: all 0.7s ease;
	transform: translate(0, 0) scale(0.5);
	transform-origin: top right;
	background-color: #fff !important;
	z-index: 2;
	color: #09909f;
}

.splace-paragraph__comments {
	background-image: url('../../assets/comment-02.svg');
	width: 20px;
	height: 20px;
	position: absolute;
	background-repeat: no-repeat;
	left: 0%;
	top: 2.9rem;

	&:after {
		content: attr(data-comment-count);
		position: absolute;
		top: 50%;
		left: 15px;
		display: block;
		font-size: 20px;
		color: #09909f;

	}
}

.splace-paragraph__comment {
	display: none;
	opacity: 0;
	transition: .7s opacity ease;

	img {
		width: 32px;
	}

	&:first-child {
		margin-top: 3rem;
	}

	.media {
		margin-left: 0;
	}
}

.splace-paragraph__comment-author {
	font-weight: 600;
	margin-left: 42px;
}

.splace-paragraph__text--heading {
	width: 90%;
	padding-top: 2rem;
	padding-bottom: 0;
	font-size: 1.7rem;
	line-height: 1.3em;
	color: #09909f;
	font-weight: 600;
	margin-bottom: 0;
}

.splace-paragraph--annotation-active > .splace-paragraph__text:not(.splace-paragraph__text--heading) {
	opacity: 0.5;
	transform: scale(0.65);
}
.splace-paragraph--annotation-active > .splace-paragraph__annotation {
	transform: translate(0, 0) scale(1);	
}

.splace-paragraph--comments-active > .splace-paragraph__text:not(.splace-paragraph__text--heading) {
	opacity: 0.5;
	//transform: scale(0.5) translateX(90%);
	transform: translateX(55%) scale(0.8);
}
.splace-paragraph--comments-active > .splace-paragraph__annotation {
	transform: translate(60%, 0) scale(0.5);
}

.splace-paragraph--comments-active > .splace-paragraph__comments {
	width: 45%;
}
.splace-paragraph--comments-active .splace-paragraph__comment {
	display: block;
	opacity: 1;
}

