.splace-user {
	background: rgba(0, 0, 0, .9);
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	left: 0;
	z-index: 5000;
	padding: 0 5% 5rem 5%;
	color: #fff;
	overflow-y: auto;
	transition: top ease .5s;

	&.active {
		top: 0;
	}

	input[type="submit"] {
		text-transform: uppercase;
	}
}

.splace-user__close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #00909f;
	font-weight: bold;
	font-size: 2rem;
	pointer: cursor;
}

.splace-user__title {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
	color: #fff;
	display: block;
}

.splace-user__login-section,
.splace-user__signup-section {

	max-width: 768px;
	margin: 0 auto;

	> h2 {
		font-weight: bold;
		font-size: 2rem;
		text-align: center;
	}

	> p {
		color: #ccc;
		font-size: 1.4rem;
		font-weight: bold;
		margin-bottom: 3rem;
		text-align: center;
		padding-left: 20%;
		padding-right: 20%;
	}
}

.splace-user__login-section {
	border-bottom: 1px solid rgba(0, 144,159, .7);
}
.splace-user__login-signup-modal {
	.splace-user__signup-section > p {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.splace-user__action-grid {
	padding: 0 1.5rem;
	margin-top: 1rem;

	> .splace-grid-item {
		padding: 0 1rem;
		float: none;
		width: 49.666%;
		display: inline-block;
	}
}

.splace-user__facebook-login {
	background: #29589f;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: .5rem;
	display: inline-block;
	width: 66%;

	> i {
		margin: 0 5px;
	}
}

.splace-user__input-wrapper {
	position: relative;
	margin-bottom: 1rem;
}

.splace-user__input {
	background: #fff;
	border: 0;
	display: block;
	-webkit-appearance: none;
	border-radius: 0;
	width: 100%;
	height: 3rem;
	color: #000;
	line-height: 4rem;
	padding-left: 10px;
	font-size: 1.3rem;
}

.splace-user__submit {
	width: auto;
	padding: 0 1rem;
	height: 3rem;
	-webkit-appearance: none;
	border-radius: 0;
	float: right;
	background: #00909f;
	font-weight: bold;
	border: 0;
}

.splace-login__label {
	position: absolute;
	left: 10px;
	top: 5px;
	color: #b4abaa;
	font-size: .8rem;
	text-transform: uppercase;
}

.splace-user__forgot-password {
	text-decoration: none;
	color: #00909f;
	line-height: 4rem;
}

.splace-user__line {
	border-top: 1px solid #00909f;
	height: 0;
	width: 100%;
	margin-bottom: 1rem;
}

.splace-user__file {
	color: transparent;
	width: 100%;
	height: 3rem;
}
.splace-user__file::-webkit-file-upload-button {
  visibility: hidden;
}
.splace-user__file::before {
  content: 'Profilbild hochladen';
  display: inline-block;
  background: transparent;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 10pt;
  color: #fff;
  height: 3rem;
  width: 99%;
  line-height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid #00909f;
  border-color: inherit;
}
.splace-user__file:hover::before {
  border-color: black;
}
.splace-user__file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.splace-user__pw-reset-form > .splace-user__input-wrapper {
	width: 57%;
	float: left;
}
.splace-user__pw-reset-form > .splace-user__submit {
	width: 40%;
}
.splace-user__pw-reset-form > h4 {
	text-align: left;
	color: #00909f;
	font-size: 1.7rem;
	line-height: 1.7rem;
	margin-bottom: .5rem;
	visibility: hidden;

	&.active {
		visibility: visible;
	}
}
.splace-user__pw-reset-form {
	&.hidden {
		display: none;
	}
}
.splace-user__pw-reset-modal {
	background: url('../../assets/userBG.jpg') no-repeat 0 -60% rgba(0, 0, 0, .9);
}

.splace-user__pw-reset-success {
	background: #dff0d8;
	border: 1px solid #3c763d;
	color: #3c763d;
	padding: 0 10px;
	display: none;

	&.active {
		display: block;
	}
}

.splace-user__login-form > h4 {
	text-align: left;
	color: #00909f;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-bottom: .5rem;
	margin-top: 0;

	display: none;

	&.active {
		display: block;
	}
}

.splace-user__login-or {
	text-transform: uppercase;
	position: relative;
	left: 43px;
	color: #ddd;
	top: 10px;
	font-size: 1.5rem;
	font-weight: bold;
}

.splace-user__signup-form > h4 {
	text-align: left;
	color: #00909f;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-bottom: .5rem;
	margin-top: 0;
	padding: 0 5%;

	display: none;

	&.active {
		display: block;
	}
}

.splace-user__profile-form > h4 {
	text-align: left;
	color: #00909f;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-bottom: .5rem;
	margin-top: 0;
	padding: 0 5%;

	display: none;

	&.active {
		display: block;
	}
}

.splace-user__profile-modal .splace-user__login-section {
	max-width: 500px;
	margin-top: 100px;

	.splace-user__input-wrapper {
		margin-bottom: 40px;
	}

	.splace-user__submit {
		margin-top: 20px;
	}
}

.splace-user__profile-photo {

	margin-bottom: 20px;

	> img {
		width: 33%;
	}
	> input {
		width: 55%;
		float: right;
		&:before {
			padding: 0 5%;
			box-sizing: border-box;
		}
	}
}